<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element" (click)="toggleEdit(element)">
      <ng-container *ngIf="element.editing; else displayPosition">
        <textarea 
        [(ngModel)]="element.position" 
        (keydown.Enter)="handleKeyPress(element)" 
        cdkTrapFocus></textarea>
      </ng-container>
      <ng-template #displayPosition>
        <span>{{ element.position }}</span>
      </ng-template>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" (click)="toggleEdit(element)">
      <ng-container *ngIf="element.editing; else displayPosition">
        <textarea 
        [(ngModel)]="element.name" cdkTrapFocus
        (keydown.Enter)="handleKeyPress(element)"></textarea> 
      </ng-container>
      <ng-template #displayPosition>
        <span>{{ element.name }}</span>
      </ng-template>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element" (click)="toggleEdit(element)">
      <ng-container *ngIf="element.editing; else displayPosition">
        <textarea [(ngModel)]="element.weight" cdkTrapFocus
        (keydown.Enter)="handleKeyPress(element)"
        ></textarea>
      </ng-container>
      <ng-template #displayPosition>
        <span>{{ element.weight }}</span>
      </ng-template>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element" (click)="toggleEdit(element)">
      <ng-container *ngIf="element.editing; else displayPosition">
        <textarea [(ngModel)]="element.symbol" cdkTrapFocus
        (keydown.Enter)="handleKeyPress(element)"
        ></textarea>
      </ng-container>
      <ng-template #displayPosition>
        <span>{{ element.symbol }}</span>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>